.uni-green-product
{
    display: flex;
    align-items: center;
    background-color: #dbd8d8;
    padding: 20px;
    border-radius: 10px;
    width: 480px;
    margin: 50px 10%;
}

.uni-green-img
{
    background-color: #ebe7e7;
    width: 80px;
    border-radius: 10px;
}

.ugp-details 
{
	flex-grow: 1;
    margin-left: 20px;
}

.ugp-details h4
{
    margin: 5px 0;
    font-size: 18px;
    font-weight: bolder;
}

.ugp-details p
{
    margin: 5px 0;
    color: #777;
}

.ugp-details b
{
    color: black;
    font-weight: bolder;
}

.ugp-num-input
{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 5px;
}

.ugp-num-input button
{
    border: none;
    background: none;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    color: #555;
}

.ugp-num-input button:hover
{
    color:#f15b39;
}

.ugp-num-input input
{
    text-align: center;
    width: 100px;
    border: none;
    background: none;
    font-size: 20px;
}

.ugp-num-input .minus
{
    font-size: 25px;
    color: #999;
}

.ugp-num-input .plus
{
    font-size: 25px;
    color: #007bff;
}
