/* Product Display */
.cart-container
{
    display: flex;
    flex-direction: column;
    width: 20px;
    margin: 20px auto;

}

/* Product Parts */
.product-item
{
    display: grid;
    grid-template-columns: 80px 1fr auto auto;
    align-items: center;
    background-color: #dbd8d8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #51b2a2;
    width: 480px;
}


/* Product Image */
.uni-green-img, .uni-yellow-img, .uni-pink-img
{
    background-color: #ebe7e7;
    width: 80px;
    border-radius: 10px;
}

/* Product Details  */
.product-details 
{
	flex-grow: 1;
    margin-left: 20px;
}

.product-details h4
{
    margin: 5px 0;
    font-size: 18px;
    font-weight: bolder;
}

.product-details p
{
    margin: 5px 0;
    color: #777;
}

.product-details b
{
    color: black;
    font-weight: bolder;
}

/* Button */
.up-num-input
{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 5px;
}

.up-num-input button
{
    border: none;
    background: none;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;
    color: #555;
}

.up-num-input button:hover
{
    color:#f15b39;
}

.up-num-input input
{
    text-align: center;
    width: 50px;
    border: none;
    background: none;
    font-size: 20px;
}

.up-num-input .minus1
{
    font-size: 25px;
    color: #999;
}

.up-num-input .plus1
{
    font-size: 25px;
    color: #007bff;
}
