:root {
  --color-blue: #1e407a;
  --color-green: #51b2a2;
  --color-pink: #e990b9;
  --color-orange: #f15b39;
  --color-yelow: #fecd3e;
}

* {
  box-sizing: content-box;
}

body {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  background-image: url(../assets/sunny_illustrations/png/background-socks.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-size: auto;
}
