body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#chatbot 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}

.chat-header 
{
    background-color: #007bff;
    color: white;
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.chat-body 
{
    padding: 15px; 
    max-height: 300px; 
    overflow-y: auto; 
}


#user-input 
{
    width: calc(100% - 80px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 10px; 
}

#send-btn 
{
    padding: 10px 15px;
    background-color: #007bff; 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#send-btn:hover 
{
    background-color: #0056b3;
}


#chat-icon 
{
    cursor: pointer;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}